*{
box-sizing:border-box;
margin:0;
padding:0;
scroll-behavior: smooth;
}
header{
position:fixed;
top:0;
width:100%;
display:flex;
/*justify-content:flex-end;"*/
background-color: rgb(188, 185, 185);
align-items:center;
padding:12px 3%;
}
nav ul a{
display:inline-block;
padding:0px 30px;
background-color: rgb(188, 185, 185);
}
a{
font-weight:500;
font-size:16px; 
text-decoration:none;
color: rgb(34, 148, 187); 
background-color: rgb(188, 185, 185);
}
a:hover{
border-bottom: solid 2px □black; 
color: black;
}
b{
margin-left:5px;
margin-right:auto;
 } 
  .logo{
cursor:pointer; 
margin-right: auto;
}
 nav ul li a:hover{
color:green;
 }
.content{
display:flex;
padding:200px 10%;
justify-content:space-between;
background-color: black;
}
 #homepage1 h2{
font-size:80px; 
color: white;
 }
#homepage1 p{
margin:30px 0;
line-height:1.5;
}
#homepagelspan{
animation-name: colorchange;
animation-duration:85;
animation-iteration-count: infinite; 
}
@keyframes colorChange{
25%{
color:red;
}
50%{
    color:yellow;
}
75%{
    color: blue;
}
100%{
    color:green;
}
}
#homepage1{
    margin-top:50px;
}
.body-image{
    border-radius:100px;
}
#homepage1 p{
    color: rgb(58,9,103);
    font-size:30px;
    margin-top:45px;
}
#homepage1 button{
    width:120px;
    height:35px;
    background-color: rgb(34,148,187);
    border-radius:25px;
    border:solid 1px  block;
    color: white;
}
#homepage1 button:hover{
    color: black;
    border:solid 2px black;
     transition:all 0.1s ease 0s ;
}
#secondbody{
background-color: rgb(47,47,47);
}
#aboutpage{
width:50%;
float:left;
padding-top:80px; 
background-color: rgb(47, 47, 47);
}
#aboutpage img{
padding-top:80px;
padding-left:40px; 
padding-bottom:261px;
}
.aboutpagepara{
width:50%; 
float:right;
height:fit content;
background-color: rgb(47, 47, 47);
}
.aboutpagepara h1{
color: rgb(95, 239, 95);
padding-left:30px;
padding-top:150px;
background-color: rgb(47, 47, 47);
}
.aboutpagepara p{
color: rgb(188, 185, 185);
padding-left:50px;
padding-top:40px;
font-size:25px;
word-spacing:4px;
line-height:1.5;
clear:both;
}
.thirdbody{
background-color: black;
}
#projectspage1 h2{
padding-top:100px;
color: black;
} 
.secondportfolio{
color: rgb(81, 48, 111);
padding-top:50px; 
padding-left:40px;
font-size: 30px;
}
#projectspagel h1 {
color: white;
padding-top:30px; 
padding-left:40px;
font-size:45px;
}
#hotelimage{
width:50%;
float:left;
background-color: black;
}
#hotelimage img{
padding-top:60px;
padding-right:20px;
padding-left:50px;
}
#mealsimage{
width:50%;
float:right;
background-color: black;
}
#mealsinage{
padding-top:60px;
padding-left:20px;
padding-right:50px;
}
#hotelinage h4{
padding-top:25px;
color: rgb(188, 185, 185); 
padding-left:70px;
}
#mealsimage h4{
padding-top: 25px;
color: rgb(188, 185, 185);
padding-left:20px;
}
#hotelimage h1{
color: rgb(81, 48, 111);
padding-left:100px;
padding-top:35px; 
font-size:40px;
}
#mealsimage h1{
color: rgb(81, 48, 111);
padding-left:50px; 
padding-top:35px; 
font-size:40px;
 }
#hotelimage p{
color: rgb(188, 185, 185);
 padding-left:100px; 
padding-top: 20px;
 font-size:25px; 
 line-height:1.5;
 }
#mealsimage p{
color: rgb(188, 185, 185);
padding-left:50px;
padding-top: 20px;
 padding-bottom:20px;
font-size:25px;
line-height:1.5;
}
 #servicepage1{
background-color: rgb(47, 47, 47);
 }
#servicepage1 h1{
color: rgb(47,47,47);
}
#servicepage1 h2{
padding-left:100px;
font-size:48px;
 color: blueviolet; 
 padding-top:50px;
 } 
.htmlimage{
padding-left:180px;
margin-bottom:100px;
}
.javaimage{
padding-left:100px;
margin-bottom:100px;
}
.cssimage{
padding-left:100px;
margin-bottom:100px;
}
.pythonimage{
padding-left:100px;
margin-bottom:100px;
}
#contactpage{
margin: rgb(47, 47, 47);
background-color: rgb(10, 10, 64);
}
.lastlogo{
padding-left:40px; 
padding-top:40px;
padding-bottom:40px;
padding-right:20px;
background-color: rgb(19, 18, 64);
}
.lastbody{
background-color: rgb(10, 18, 64);
}
.lastbodycontent p{
padding-left:30px;
}
 #contactpage h1{
padding-top:60px;
padding-left:40px; 
padding-bottom:25px;
font-size:45px;
color: rgb(95, 239, 95);
 }
#contactpage h3{
padding-left:40px;
font-size:30px;
color: rgb(188, 185, 185);
}
.lastbodyimage{
float:left;
width:15%;
}
.lastbodycontent{
float:right;
width: 85%;
}
.fa-square-phone{
font-size:60px;
padding-left:240px;
color: white;
}
.mobileno{
font-size:40px;
padding-bottom:10px;
padding-left:40px;
color:aqua;
}
.fa-envelope{
font-size:60px;
padding-left:240px;
color: white;
}
.email{ 
    font-size:40px;
padding-bottom:10px;
padding-left:40px; 
color: aqua;
}
 .fa-map-location-dot{
font-size:60px;
 padding-left:240px; 
color: white;
 }
.address{
font-size:48px; 
padding-bottom:10px;
padding-left:40px;
color:aqua;
}
.address2{
font-size:40px;
padding-bottom:10px; 
padding-left:350px;
color:aqua;
}
footer{
 width:100%;
}